/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .break-point-indicator {
    background: orange;
    &::after {
      content: "max:600px";
    }
  }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .break-point-indicator {
    background: crimson;
    &::after {
      content: "min:600px";
    }
  }
  
  .flex.columns-2 {
    flex-wrap: nowrap;
    & > * {
      flex-basis: 49.5%;
      margin: 0.25%
    }
  }
  .flex.columns-4 {
    & > * {
      flex: 1 0 49.5%;
      margin: 0.25%
    }
  }

  .features-section {
    .row.row-middle {
      .feature-list {
        grid-template-columns: repeat(auto-fit,minmax(555px, 555px));
      }
    }
  }
  .testimonials-section {
    .row-slider {
      .slider-container {
        width: 200%;
        .slide {
          width: 630px;
          padding: 30px;
        }
      }
    }
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .break-point-indicator {
    background: green;
    &::after {
      content: "min:768px";
    }
  }
  
  .flex.columns-4 {
    & > * {
      flex: 1 0 24%;
      margin: 0.25%
    }
  }
  .testimonials-section {
    .row-top {
      .container {
        padding: 100px;
        .pagination {
          top: 30px;
          width: 230px;
          justify-content: flex-start;
          .dot {
            position: relative;
            width: 16px;
            height: 16px;
            &::after {
              top: 5px;
              left: 5px;
              width: 6px;
              height: 6px;
            }
            &.active::after {
              transition: width 500ms, height 500ms;
              top: 3px;
              left: 3px;
              width: 10px;
              height: 10px;
              background: $secondary_color;
            }
          }
        }
      }
    }
    .row-slider {
      .slider-container {
        width: 175%;
        .slide {
          width: 630px;
          padding: 30px;
        }
      }
    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .base-grid {
    // grid-template-rows: 115px auto 115px;
  }

  

  .break-point-indicator {
    background: red;
    &::after {
      content: "min:992px";
    }
  }


  /* ==========================================================================
  [Style changes]
  ========================================================================== */
  .header-section {
    .container {
      text-align: right;
      .header-title {
        position: absolute;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        text-align: left;
        .header-info {
          margin: 0;
        }
        h1 {
          margin-top: 100px 0 40px 0;
          font-size: 65px;
          line-height: 70px;
        }
      }
      img {
        margin-top: 100px;
      }
    }
  }
  .navigation-section {
    .row {
      .container {
        .logo {
          justify-content: flex-start;
        }
        .navigation {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .request-demo {
          // text-align: left;
        }
      }
    }
  }
  .whoweare-section {
    .container {
      text-align: left;
      .whoweare-offset {
        padding: 100px 70px;
        grid-template-columns: 1fr;
        grid-gap: 70px;
        background: #FFE8F3;
        border-radius: 60px;
        p {
          width: 70%;
          margin: 0;
        }
      }
    }
  }
  .try-section {
    .row {
      .container {
        .try-left {
          text-align: left;
        }
        .try-right {
          text-align: right;
        }
      }
    }
  }
  .footer-section {
    .row {
      .container {
        text-align: left;
        .footer-info {
          .footer-logo {
            display: flex;
          }
        }
      }
    }
  }
  .bottom-section {
    .row {
      .container {
        grid-template-columns: 1fr;
        & > * {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .bottom-left {
          justify-content: flex-start;
          h6 {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
    &.active {
      display: block;
      display: none;
    }
  }
  .testimonials-section {
    .row-slider {
      .slider-container {
        width: 175%;
        .slide {
          width: 630px;
          padding: 50px 90px;
        }
      }
    }
  }
  
  /* ==========================================================================
  [Layout changes]
  ========================================================================== */
  
  .navigation-section {
    .row {
      .container {
        grid-template-columns: 100px auto 180px;
      }
    }
  }
  .whoweare-section {
    .container {
      .whoweare-offset {
        grid-template-columns: 1fr 2fr;
      }
    }
  }
  .features-section {
    .row.row-middle {
      .feature-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .try-section {
    .row {
      .container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .footer-section {
    .row {
      .container {
        grid-template-columns: 2fr 1fr 1fr 1fr;
      }
    }
  }
  .bottom-section {
    .row {
      .container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .break-point-indicator {
    background: blueviolet;
    &::after {
      content: "min:1200px";
    }
  }

  .container {
    width: 1140px;
  }
  
}

