
@import 'variables.scss';

/* ==========================================================================
[Base grid]
========================================================================== */
.base-grid {
  display: grid;
  grid-template-rows: 115px auto 115px;
  grid-template-rows: 1fr;
  height: 100%;
}

/* ==========================================================================
[Navigation]
========================================================================== */
.navigation-section {
  margin-top: 50px;
  .row {
    .container {
      grid-template-columns: 100px auto 180px;
      .logo {
        display: flex;
        align-items: center;
      }
      .navigation {
        display: flex;
        align-items: center;
        a {
          padding:0 15px;
          margin:0 0px;
        }
      }
      .request-demo {
        .button {
          margin: 0;
        }
      }
    }
  }
}

.break-point-indicator, .window-width {
  display: none;
}

