
@import 'variables.scss';

/* ==========================================================================
[Base grid]
========================================================================== */
.base-grid {
  display: grid;
  grid-template-rows: 115px auto 115px;
  grid-template-rows: 1fr;
  height: 100%;
}


.break-point-indicator, .window-width {
  display: none;
}

