/* Font families */
$primary_font_family: 'Lora', serif;
$secondary_font_family: 'Poppins', sans-serif;

/* Gaps and margins */
$grid_gap: 10px;
$row_margin: 10px;


/* Main colors */
$body_bg_color: #fdfdfd;
$body_text_color: #5c727f;
$primary_color: #9c69e2;
$secondary_color: #f063b8;
$dark_black: #212353;
$light_black: #333333;
$white: #ffffff;
$black: #000000;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$footer_bg_color: #fff;
